*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
    background-color: #121212 !important;
}

/*HOT*/
.badge{
    background-color: none !important;
}
.nav-link{
    font-weight: bold;
}
.navbar{
    padding: 0.2vw 5vw !important;
}
.navbar-nav {
    width: 100% !important;
}

footer{
    color: #fff;
}

#ar_name {
    font-weight: bold;
    font-size: 24px;
    color: hotpink;
}

.chapter {
    padding: 1vw;
    margin: 0 auto;
}
.chapter a{
    color: hotpink;
}
.chapter a:hover {
    text-decoration: none;
    color: #fff;
}
.chapter:not(:last-child){
    border-bottom: 1px solid #fff;
}


.cmt_title{
    color: #fff;
    background-color: darkolivegreen;
    padding-top: 0.5vw;
}

.cmt_item {
    display: flex;
    margin-top: 0.5vw;
    width: 100%;
}
.cmt_name{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.cmt_item a{
    width: 25%;
}
.cmt_name:hover {
    color: hotpink;
    text-decoration: none;
}
.cmt_info {
    font: 16px !important;
    color: #fff;
    margin-left: 0.5vw;
}
.cmt_info p{
    margin-bottom: 0.5vw;
}
#cmt_section {
    border: 1px solid #EAEAEA;
    margin: 2vw auto;
}
#comment {
    margin: 2vw auto;
    color: #fff;
}

.article_name {
    margin: 2vw auto;
    color: white;
}
.article_name h6 {
    margin: 1vw;
}
#article {
    color: hotpink;
    font-weight: bold;
}
#article:hover {
    color: #fff;
    text-decoration: none;
}

#chapter_select {
    width: 40%;
    margin: 1vw 0;
}

.chapter_cont {
    width: 100%;
    margin: 1vw 0;
}
.nav_icon {
    color: forestgreen;
    font-size: 24px;
    margin: 0 1vw ;
}
.pagination {
    display: inline-block;
    margin: 1vw auto;
}

.pagination a {
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    text-decoration: none;
}
.pagination a:hover {
    text-decoration: none;
}






