<!DOCTYPE html>
<html>

<head th:replace="head::head">

    <body>
        <nav th:replace="general::nav">

        </nav>
        <div class="row">
            <div th:replace="general::sidebar">

            </div>

            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                        <li class="active">Trang chủ </li>
                        <li class=""> / Mở sổ</li>
                    </ol>
                </div>

                <div class="row page-header">
                    <div class="col-sm-12">
                        <h1>Mở sổ</h1>
                        <h5>Chủ tài khoản tài khoản: <span th:text="${cusAcc.name}"></span></h5>
                        <h5>Số CMT/CCCD: <span th:text="${cusAcc.idcard}"></span></h5>
                    </div>
                </div>
                <div class="row add_user">
                    <div class="col-6">
                        <div th:switch="${msg}">
                            <div th:case="fail">
                                <div class="alert alert-danger">Thông tin không hợp lệ!</div>
                            </div>
                            <div th:case="zero">
                                <div class="alert alert-danger">Giá trị không hợp lệ!</div>
                            </div>
                            <div th:case="success">
                                <div class="alert alert-success">Tạo sổ tiết kiệm thành công!</div>
                            </div>
                            <p th:case="*"></p>
                        </div>

                        <fieldset>
                            <form action="" method="POST" th:object="${saving}">
                                <div class="form-group">
                                    <label for="input">Tiền gửi (VND)</label>
                                    <input class="form-control" placeholder="Tiền gửi ban đầu" type="text" th:field="*{balance}" name="input" required>
                                </div>
                                <div class="form-group">
                                    <label for="interest">Lãi suất (%)</label>
                                    <input class="form-control" placeholder="Lãi suất" type="text" th:field="*{interest}" name="interest" required>
                                </div>

                                <div class="form-group">
                                    <label for="time">Kỳ hạn (Tháng)</label>
                                    <input class="form-control" placeholder="Kỳ hạn gửi" type="text" th:field="*{time}" name="time" required>
                                </div>

                                <button class="btn btn-success" type="submit">Tạo</button>
                            </form>
                        </fieldset>

                    </div>

                </div>
            </div>
            <!--/.main-->
        </div>

        <div th:replace="js::js">

        </div>
    </body>
    <script>
        function isInt(n) {
            return Number(n) === n && n % 1 === 0;
        }

        function isFloat(n) {
            return Number(n) === n && n % 1 !== 0;
        }


        function calc() {
            let sum = 0;
            let int__sum = 0;
            let inte = 0;
            let money = parseFloat(document.getElementsByName('input')[0].value);
            let interest = parseFloat(document.getElementsByName('interest')[0].value);
            let time = parseFloat(document.getElementsByName('time')[0].value);

            if ((isFloat(money) || isInt(money)) &&
                (isFloat(interest) || isInt(interest)) &&
                (isFloat(time) || isInt(time))) {
                let type = document.getElementsByName('type')[0].value;
                if (type == 1) {
                    int__sum = money * (interest / 100) * (time / 12);
                    sum = money + int__sum;

                } else {
                    int__sum = money * (interest / 100) * (time / 12);
                    sum = money + int__sum;
                    inte = int__sum / time;
                }
                document.getElementById('warning').style.display = "none";
                document.getElementById('sum').innerHTML = Math.round(sum * 100) / 100;
                document.getElementById('interest__sum').innerHTML = Math.round(int__sum * 100) / 100;
                document.getElementById('interest').innerHTML = Math.round(inte * 100) / 100;

            } else {
                document.getElementById('warning').style.display = "block";
            }
        }
    </script>

</html>