<head th:fragment="head">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="multipart/form-data; charset=UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/bs/css/bootstrap.css">

    <!--FONTAWESOME-->
    <link href="/css/fontawesome/css/all.css" rel="stylesheet">

    <script src="/js/lumino.glyphs.js"></script>

    <title th:text="${title}"></title>
</head>