<!DOCTYPE html>
<html>

<head th:replace="head::head">

<body>
    <nav th:replace="general::nav">

    </nav>
	<div class="row">
        <div th:replace="general::sidebar">

        </div>
            
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main text-center">	
            <img src="img/logo.png" alt="" style="width: 40%;">
            <h1>BANK ADMINISTRATION</h1>
            <h2>HOMEPAGE</h2>
        </div>	<!--/.main-->
    </div>	
	
    <div th:replace="js::js">

    </div>
</body>

</html>
