<!DOCTYPE html>
<html>

<head th:replace="head::head">

    <body>
        <nav th:replace="general::nav">

        </nav>
        <div class="row">
            <div th:replace="general::sidebar">

            </div>

            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                        <li class="active">Trang chủ </li>
                        <li class=""> / Tìm tài khoản</li>
                    </ol>
                </div>

                <div class="row page-header">
                    <div class="col-sm-12">
                        <h1>Tìm tài khoản</h1>
                    </div>
                </div>
                <div class="row add_user">
                    <div class="col-7">
                        <div class="alert alert-danger" style="display: none;" id="warning">Không được bỏ trống thông tin!</div>
                        <div class="alert alert-danger" style="display: none;" id="error">Tên không được chứa ký tự đặc biệt!</div>
                        <div class="alert alert-danger" style="display: none;" id="empty">Không có tài khoản có thông tin trùng khớp!</div>
                        <fieldset>
                            <div class="form-group">
                                <label for="name">Tên chủ tài khoản:</label>
                                <input class="form-control" placeholder="Tên chủ tài khoản" type="text" name="name" required autofocus id="search">
                            </div>

                            <button class="btn btn-success" onclick="search()">Tìm</button>
                        </fieldset>

                        <table class="table table-striped" id="search_table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên chủ tài khoản</th>
                                    <th>Chứng minh thư/CCCD</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody id="rs">
                            </tbody>
                        </table>
                    </div>

                    <div class="col-5" id="info">
                    </div>

                </div>
            </div>
            <!--/.main-->
        </div>

        <div th:replace="js::js">

        </div>
    </body>
    <script>
        function isInt(n) {
            return Number(n) === n && n % 1 === 0;
        }

        function isFloat(n) {
            return Number(n) === n && n % 1 !== 0;
        }


        
        function search() {
            const regex = new RegExp('[!@#$%^&*(),.?:{}|<>]');
            let name = document.getElementsByName('name')[0].value;
            let list = document.getElementById('rs');
            let list2 = document.getElementById('info');
            document.getElementById('warning').style.display = "none";
            document.getElementById('error').style.display = "none";
            document.getElementById('empty').style.display = "none";

            list.innerHTML = "";
            list2.innerHTML = "";
            if (name == "") {
                document.getElementById('warning').style.display = "block";
                document.getElementById('search').focus();
            }else if(regex.test(name)){
                document.getElementById('error').style.display = "block";
                document.getElementById('search').focus();
            } else {
                document.getElementById('warning').style.display = "none";
                document.getElementById('error').style.display = "none";

                let host = window.location.origin;
                // console.log(window.location);
                fetch(`${host}/search?name=${name}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        list.innerHTML = "";
                        let accList = data.result;
                        if (accList.length == 0) {
                            document.getElementById('empty').style.display = "block";
                            document.getElementById('search').focus();
                        } else {
                            document.getElementById('empty').style.display = "none";
                            accList.forEach(acc => {
                                let sex = "Nam";
                                if(acc.sex == 1) sex = "Nữ";
                                else if (acc.sex == 2) sex = "Khác";
                                let html = `
                                    <tr>
                                        <td>${acc.id}</td>
                                        <td>${acc.name}</td>
                                        <td>${acc.idcard}</td>
                                        <td><button class="btn btn-success" onclick="showInfo('info${acc.id}')" >Xem thông tin</button></td>
                                    </tr>
                                    `;
                                list.insertAdjacentHTML("afterbegin", html);

                                let html2 = `
                                
                        <table class="table table-striped cusInfo disappear" id="info${acc.id}">
                            <tbody>
                                <tr class="text-center">
                                    <td colspan="4"><h2>Thông tin thành viên</h2></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Họ và tên: </td>
                                    <td colspan="2">${acc.name}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Ngày tháng năm sinh: </td>
                                    <td colspan="2">${acc.dob}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Giới tính: </td>
                                    <td colspan="2">${sex}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Địa chỉ: </td>
                                    <td colspan="2">${acc.address}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Chứng minh thư: </td>
                                    <td colspan="2">${acc.idcard}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Email: </td>
                                    <td colspan="2">${acc.email}</td>
                                </tr>
                                <tr>
                                    <td><button class="btn btn-success" onclick="window.location.replace('/pullout?accid=${acc.id}')" >Xem danh sách sổ tiết kiệm</button></td>    
                                </tr>
                            </tbody>
                        </table>
                                `;
                                
                                list2.insertAdjacentHTML("afterbegin", html2);
                            });
                        }
                    })
                    .catch(err => console.log(err));
            }
        }
        function showInfo(id){
            // document.getElementById(id).style.opacity = "0";
            let list = Array.prototype.slice.call(document.getElementsByClassName('cusInfo'));
            list.forEach(element => {
                element.classList.remove("appear");
                element.classList.add('disappear');
            });
            document.getElementById(id).classList.add("appear");
            document.getElementById(id).classList.remove('disappear');
        }
    </script>

</html>